@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --background: #F0FDF4;
  --foreground: #022C22;
  --primary: #065F46;
  --accent: #10B981;
}

.dark {
  --background: #022C22;
  --foreground: #F0FDF4;
  --primary: #34D399;
  --accent: #F59E0B;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-accent: var(--accent);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
